h1{
    color: red;
    background-color: cornsilk;
}
.baal{
    color: khaki;
    background-color: deepskyblue;
}
#komuna{
    color: aquamarine;
    background-color: brown;
    margin: 5px;
    
}